USE [master]
GO
/****** Object:  Database [MoorCodeSofia]    Script Date: 11/07/2023 21:39:29 ******/
CREATE DATABASE [MoorCodeSofia]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MoorCodeSofia', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MoorCodeSofia.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MoorCodeSofia_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MoorCodeSofia_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MoorCodeSofia].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MoorCodeSofia]
GO
/****** Object:  Table [dbo].[user]    Script Date: 11/07/2023 21:39:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NULL,
	[name] [nvarchar](50) NULL,
	[surname] [nvarchar](50) NULL,
	[created_date] [smalldatetime] NULL,
	[deleted] [bit] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_task]    Script Date: 11/07/2023 21:39:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_task](
	[user_task_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[subject] [nvarchar](4000) NULL,
	[description] [nvarchar](4000) NULL,
	[start_date] [smalldatetime] NULL,
	[end_date] [smalldatetime] NULL,
	[created_date] [smalldatetime] NULL,
	[created_user_id] [int] NULL,
	[updated_date] [smalldatetime] NULL,
	[updated_user_id] [int] NULL,
	[status] [int] NULL,
	[deleted] [bit] NULL,
 CONSTRAINT [PK_user_tasks] PRIMARY KEY CLUSTERED 
(
	[user_task_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF_Users_createdDate]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF_user_deleted]  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[user_task] ADD  CONSTRAINT [DF_Table_1_createdDate]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[user_task] ADD  CONSTRAINT [DF_user_tasks_status]  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[user_task] ADD  CONSTRAINT [DF_user_task_deleted]  DEFAULT ((0)) FOR [deleted]
GO
USE [master]
GO
